services:
  divasalonapi:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: divasalonapi
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  redis-data:
